
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@keyframes colorful-text {
    0% {
        color: blanchedalmond;
    }
    25% {
        color: red;
    }
    50% {
        color: yellow;
    }
    75% {
        color: teal;
    }
    100% {
        color: blue;
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

div {
  display: inline-block;
  width: 300px;
  height: 300px;
}

h1 {
    font-family: "dancing Script", cursive;
    text-align:center;
    color: rgb(243, 129, 8);
    font-size: 50px;
    margin: 0;
    position: relative;
    top: 40%;
    text-shadow: 2px 2px 4px rgb(73, 96, 76);
    animation: colorful-text 4s infinite alternate;
}

#one {
  background-color: rgba(65, 48, 122, 0.163);
  border-radius: 50%;
  /* background: url("https://picsum.photos/200/300") no-repeat center; */
  /* background-size: cover; */
  position: relative;
  left: 50px;
  overflow: hidden;
  /* opacity: 75%; */
}
#one:after {
    content: "";
    background: url(https://picsum.photos/200/300) no-repeat center;
    background-size: auto 100%;
    display: block;
    position: absolute;
    width 100%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 20%;
    transition: background-size 3s;
}

#one:hover:after {
    background-size: auto 200%;
}

#two {
  background-color: brown;
  border-radius: 50% 0;
  box-shadow: 5px 5px 2px black;
  /* transition: transform 4s; */
  animation: spin 10s infinite linear alternate;

}
#two:hover {
    /* transform: rotate(90deg); */

}

#three {
  background-color: chartreuse;
  border-radius: 50px 70px 90px 110px;
  transform-origin: top left;
  transform:  scale(0.5) rotate(30deg) translate(80%);
}
